

<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
<head>
  <title>Evtushenko Production | <%= yield(:title) %></title>

</head>
<body>

<h1>Евтушенко Продукция</h1>


<!--/////////////////////////////////-->
<% @products.each do |product| %>



      <%#= image_tag product.image.thumb.url, class: "resize_thumb"%>

     <%= image_tag product.image.url%>
     <%= product.name %>
     <%= product.description %><br><br>


<% end %>

  <button style="background-position:center; position: center", class="with-delay">
    <%= link_to 'Adminka', products_path, class: "btn btn-mini btn-warning", type: "button"%>
  </button>





</body>
</html>