<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--<link rel="stylesheet" src="assets/custom.css">-->
  <title>Ievtushenko Production | <%= yield(:title) %></title>
  <style>

  </style>
</head>


<body>

<div class="slider">
  <% @products.each do |product|%>
  <div class="slide">
      <%= image_tag product.image.url  alt: "slide1"  %>
      <br><br>
  </div>
  <% end %>
</div>

<div class="catalog">


  <div>
    <% @for_men.each do |for_man| %>
    <a href=""  data-fancybox data-caption="(<%= for_man.description %>)">
    <%= image_tag for_man.avatar.thumb.url %>
    </a>
    <h3><%= for_man.name %></h3>
    <h3></h3>
  </div>
    <% end %>


    <div>
      <% @for_women.each do |for_woman| %>
        <a href=""  data-fancybox data-caption="<%= for_woman.description %>">
          <%= image_tag for_woman.womanavtr.thumb.url %>
        </a>
        <h3><%= for_woman.name %></h3>
        <h3></h3>
        </div>
      <% end %>

  </div>

  <br>


  <button style="background-position:center; position: center", class="with-delay">
    <%= link_to 'Создать Новости', products_path, class: "btn btn-mini btn-warning", type: "button"%>
  </button>

<br><br>
</br>
<footer>
  <div class="service">
    <h3>Сервис</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero laudantium at fugiat, consectetur iure repudiandae! Earum illum laborum atque, quod odit, quam reprehenderit ut perspiciatis! Optio at porro atque consequatur.</p>
  </div>
  <div class="contacts">
    <h3>Контакты</h3>
    <p>+38(048) 722-45-03</p>
    <p>+38(067) 722-45-03</p>
    <p>+38(093) 722-45-03</p>
    <h3>Поделиться</h3>
    <a href="www.facebook.com"><img src="assets/facebook.png" alt="facebook"></a>
    <a href="www.instagram.com"><img src="assets/instagram.png" alt="instagram"></a>
    <h3>Где нас можно найти?</h3>
    <p>Г. Одесса, промрынок "7 км", контейнер 133.</p>
    <p>Ассортимент на сайте может отличаться от фактического.</p>
  </div>
  <div class="timework">
    <h3>Время работы</h3>
    <p>ПН: 10:00 - 17:00</p>
    <p>ВТ: 10:00 - 17:00</p>
    <p>СР: 10:00 - 17:00</p>
    <p>ЧТ: 10:00 - 17:00</p>
    <p>СБ: 10:00 - 17:00</p>
    <p>ВС: 10:00 - 17:00</p>
  </div>
</footer>
<!--<script src="assets/jquery.js" type="text/javascript"></script>-->
<!--<script src="assets/slick.min.js" type="text/javascript"></script>-->
<!--<script src="assets/jquery.fancybox.js" type="text/javascript"></script>-->
<!--<script src="assets/script.js" type="text/javascript"></script>-->
</body>
</html>