<br><br><br>

<p>

  <%= image_tag @for_man.avatar.thumb.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @for_man.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @for_man.description %>
</p>
<br><br>

<%= link_to 'Редактировать', edit_for_man_path(@for_man), class: "alert alert-warning" %> |

  <%= link_to 'Назад', :back, class: "alert alert-info", type: "button" %>


