<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  <%= image_tag @for_man.avatar.thumb.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @for_man.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @for_man.description %>
</p>

<%= link_to 'Edit', edit_for_man_path(@for_man) %> |
<%= link_to 'Back', for_men_path %>
