
<br><br><br>
<p>
  <%= image_tag @for_woman.womanavtr.thumb.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @for_woman.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @for_woman.description %>
</p>

<%= link_to 'Редактировать', edit_for_woman_path(@for_woman) %> |
<%= link_to 'Назад', for_women_path %>

