<head>
  <style type="text/css">

    #Home_page_Title{
      text-align: center;
    }

    #Home_page_Name_Pos_Comp{
      text-align: center;
      padding: 10px; /* Поля вокруг содержимого ячеек */
      word-wrap:break-word

    }
    table {
      width: auto !important;

    }
    td {
    ;
    }

    h3 {
        font-family: Arial, Helvetica, Verdana, sans-serif; /* Гарнитура шрифта */
      font-size: 150%; /* Размер текста */
      font-weight: lighter; /* Светлое начертание */
    }

  </style>
</head>
<body>
<div style=" background-position: left">



  <br>


  <table class="table table-striped container" style="text-align: center; padding: 25px">
    <thead>
    <div class="col-xs-8">
      <tr><div class="container" >
        <div class="row">
          <th></th>
          <th style="text-align: center; " >Наименование</th>
          <th style="text-align: center">Описание</th>
          <!--<th style="text-align: center">Company</th>-->
          <th style="text-align: center"></th><br></div></div>
      </tr>
    </div>
    </thead>

    <tbody>
    <% if @products.present? %>
      <h1>
        Результаты поиска
      </h1>
    <% else %>
      <tr> <h3>
        Ничего не найдено
        "<%= params[:q] %>"
      </h3>
    <% end %>
    <% @products.each do |product| %>
      <td><%= image_tag product.image.thumb.url %></td>
      <td class="Show" style="padding: 25px"><button class="favth-btn " ><%= link_to product.name, product, class: "btn btn-mini btn-primary", type: "button" %></button></td>
      <td class="Show" style="padding: 25px"><button class="favth-btn"><%= link_to product.description, product, class: "btn btn-mini btn-primary", type: "button" %></button></td>
      </tr>
    <% end %>

    <%# if @for_man.present? %>
      <!--<h1>`-->
        <!--Результаты поиска-->
      <!--</h1>-->
    <!--<%# else %>-->
      <!--<tr> <h3>-->
        <!--Ничего не найдено-->
        <!--"<%#= params[:q] %>"-->
      <!--</h3>-->
    <!--<%# end %>-->
    <!--<%# @for_man.each do |for_man| %>-->
      <!--<td><%#= image_tag for_man.image.thumb.url %></td>-->
      <!--<td class="Show" style="padding: 25px"><button class="favth-btn " ><%#= link_to for_man.name, for_man, class: "btn btn-mini btn-primary", type: "button" %></button></td>-->
      <!--<td class="Show" style="padding: 25px"><button class="favth-btn"><%#= link_to for_man.description, for_man, class: "btn btn-mini btn-primary", type: "button" %></button></td>-->
      <!--</tr>-->
    <!--<%# end %>-->
    <!--</tbody>    <br>-->



    <br>


  </table>
  <div class="ttt" style="padding: 10px">
    <%= link_to 'Назад', :back, class: 'btn btn-primary' %>
  </div></div>
</body>