<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="Logoimage">
      <%= link_to(image_tag("Logo_I.png", size: "150x150",
                            :alt => "rss feed", id:'booksget_logo'), root_path) %></div><!--тут ссылка на картинку-->
    <div class="container">

      <div class="container search_margin_top"
           style="width:35%; padding-top: 20px; padding-left: 150px; float: right">
        <%= form_with url: search_url, local: true, method: :get do |form| %>
          <%= form.text_field :q, :size =>"40", placeholder: "Введите слово",
                              data:{behavior: "autocomplete"}, class: "form-control width_of_search" %>
          <div class="ttt" style="padding-top: 5px; float: inherit; text-align: right;">
            <%= form.button "Поиск", class: "btn btn-large btn-primary" %>
          </div>
        <% end %>
      </div>

      <div class="p1"> <%= link_to "App", products_url, id: "logo" %></div>

      <nav class="nav pull-right buttons">
        <p class="static_page" style="">
          <%#= link_to "Главная",    home_path %><br>

          <%#= link_to "Мужское",    men_path %>
          <%#= link_to "Женское",    women_path %><br>
          <%#= link_to "Вопросы и Ответы",    help_path %>
          <%#= link_to "Как Купить?",    howtobuy_path %><br>
          <%#= link_to "О нашей продукции",    material_path %><br>
          <%#= link_to "Контакты",    contact_path %>
          <%= link_to "Условия Обмена",    termsofexchange_path %><br>
        <%#= link_to "Оплата и Доставка",    shipping_payment_path %>

        </p>
      </nav>
    </div>
  </div>
</header>
