<!DOCTYPE html>
<html>
  <head>
    <!--<title>TimeOfRecruiting</title>-->
    <title>Ievtushenko Production</title>
    <%= csrf_meta_tags %>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'Logo_I_ico.ico' %> <!--тут лежить логотип для страницы для вкладки-->

  </head>
  <!--##############################---Search--#############################################-->

  <body>
  <br><br><br><br>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <header class="navbar navbar-fixed-top navbar-inverse">


    <div class="container main">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, message|%>
            <div class="alert"<%= bootstrap_class_for(name)%>>
              <button class="close" data-dismiss="alert">&times;</button>
              <% message %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <br>

    <%= render 'layouts/header' %>
    <br><br><br><br><br><br>
    <div class="menu">

      <!--<h1>Евтушенко Продукция</h1>--><br>
      <ul>
        <li><%= link_to "Главная",    home_path %></li>
        <li><%= link_to "О НАС",    about_path %></li>
        <li><a href="#">Продукция</a>
          <ul class="submenu">
            <li><%= link_to "Мужское",    men_path %></li>
            <li><%= link_to "Женское",    women_path %></li>
          </ul>
        </li>
        <li><a href="#">Сервис</a>
          <ul class="submenu">
            <li><%= link_to "Как Купить?",    howtobuy_path %></li>
            <li><%= link_to "Вопросы и Ответы",    help_path %></li>
            <li><%= link_to "О нашей продукции",    material_path %></li>
          </ul>
        </li>

        <li><%= link_to "Оплата и Доставка",    shipping_payment_path %>
          <ul class="submenu">
            <li><%= link_to "Условия Обмена",    termsofexchange_path %></li>
          </ul>
        </li>
        <li><%= link_to "Контакты",    contact_path %></li>
      </ul>
    </div>
  </header>

    <%= yield %>
  <%#= render 'layouts/footer' %>
  </body>
</html>
